#main {
  border: 1px solid black;
}

#header {
  text-align: center;
}

#page {
  text-align: center;
}

#content {
  float: left;
  margin: 69.8%;
}

#menu {
  float: right; margin: 29.8%;
}

#footer {
  text-align: center;
}
