#main {
  border: 1px solid black;
}

#header {
  text-align: center;
}

#page {
  text-align: center;
}

#content {
  float: right;
  width: 69.5%;
}

#menu {
  float: left;
  width: 29.5%;
}

#footer {
  text-align: center;
}
